{% extends 'blog/layout.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">날짜</th>
        <th scope="col">본문</th>
      </tr>
    </thead>
{% for blog in blogs.all %}
    <tbody>
      <tr>
        <th scope="row">{{ blog.id }}</th>
        <td><a class="nav-item nav-link" href="{% url 'home' pk=blog.pk %}">{{ blog.title }}</a></td>
        <td>{{ blog.pub_date }}</td>
        <td>{{ blog.body }}</td>
      </tr>
      
    </tbody>
{% endfor %}
  </table>

{% endblock %}